  body{
    background-size:cover;
  }
  
  .heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(250, 247, 247);
  }
  .heading_div
  {
    float: none;
    padding:10px;
    background: rgb(2, 1, 50) ; 
    border-radius: 20px; 
    color: rgb(255, 255, 255);
    box-shadow:5px 5px 5px rgb(238, 31, 193)
  
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px rgb(246, 243, 243);
    font-size: 20px;
  }

  .result_para_tag span{
    white-space:pre-line;
  }

  copy_right_footer{
    position:fixed;
    color:antiquewhite;
    bottom:0;
    width:100%;
    background-image: linear-gradient(to right, rgb(16, 3, 68) , rgb(94, 245, 74),rgb(39, 1, 39));
    line-height:3;
    text-align:center; 
 
  }

  canvas{
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    margin-top:160px;
  }
 